<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Signin</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    h1 {
      text-align: center;
      margin-bottom: 20px;
    }
    form {
      background-color: #ffffff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    img {
      width: 300px;
      height: 200px;
      border-radius: none;
      margin-bottom: 20px;
    }
    label {
      display: block;
      margin-bottom: 8px;
      width: 100%; /* Ensure labels are full width */
    }
    input[type="text"],
    input[type="password"] {
      width: calc(100% - 20px); /* Adjusted to fit the container */
      padding: 8px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;
    }
    button[type="submit"] {
      width: 100%;
      padding: 10px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }
    button[type="submit"]:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Signin</h1>
    <form id="signin-form" action="/signin" method="post">
      <img src="pet1.jpg" alt="User Image">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">Signin</button>
    </form>
  </div>
  <script src="/main.js"></script>
</body>
</html>